<form action="/account/create" enctype="application/x-www-form-urlencoded" method="post">
  <fieldset>
    <label for='email'>Email Address</label>
    <input type='email' required class="login-form" name='create-account-email-address' id="create-account-email-address">
    <label for='password'>Password</label>
    <input type='password' required class="login-form" name='create-account-password' id="create-account-password" value=''>
    <input class="button pipe" type='submit' value='Create My Account'>
  </fieldset>
</form>
