<section id="debug">
  <p>Is Instagram Authenticated? <%- isInstagramAuth ? "<span class='cool'>yes</span>" : "no" %> </p>
  <p>Is Facebook Authenticated? <%- isFacebookAuth ? "<span class='cool'>yes</span>" : "no" %> </p>
  <p>Is Twitter Authenticated? <%- isTwitterAuth ? "<span class='cool'>yes</span>" : "no" %> </p>
  <script src="http://localhost:8080/target/target-script-min.js#anonymous"></script>
</section>
