<section id="debug">
  <p>Is Instagram Authenticated? <%- isInstagramAuth ? "<span class='cool'>yes</span>" : "no" %> </p>
  <p>Is Facebook Authenticated? <%- isFacebookAuth ? "<span class='cool'>yes</span>" : "no" %> </p>
  <p>Is Twitter Authenticated? <%- isTwitterAuth ? "<span class='cool'>yes</span>" : "no" %> </p>
</section>
