<ul id="photo-to-pipe">
  <li><a class="facebook-destination button-facebook" href="/facebook"></a></li>
  <li><a class="twitter-destination button-twitter" href="/twitter"></a></li>
  <li><a id="dropbox" href="/dropbox" class="dropbox-destination button-dropbox"></a></li>
  <li><a class="download-destination button-download" href="/download/file"></a>
  </li>
</ul>
