<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="description" content="PhotoPipe allows you to redirct a photo from its URL to another web service.">
    <meta name="author" content="Joe McCann">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0;">
    <link rel="shortcut icon" href="/favicon.ico" />
    <link rel='stylesheet' href='/css/normalize.css' />
    <link href="https://fonts.googleapis.com/css?family=Aldrich&subset=latin" rel="stylesheet" type="text/css">
    <link rel='stylesheet' href='/css/style.css' />
  </head>
  <body>
    <div id="main">
      <h1>Photo<span class="cool">Pipe</span></h1>
      <p>Connect your Facebook account by signing in.</p>
      <a class="button-signing-facebook" href="<%- auth_url %>">Connect with Facebook</a>

    </div>
  </body>
</html>