<form class="photoPipeForm" action="/smoke" enctype="application/x-www-form-urlencoded" method="post">
  <fieldset>
    <label for='caption'>Caption (optional)</label>
    <input type='hidden' name='type' value='echo'>
    <input type='hidden' name='photoUrl' value=''>
    <input type='text' class="big-text-field" name='caption' id="caption" value='PhotoPipe'>
    <input class="button pipe" type='submit' value='Pipe It!'>
  </fieldset>
</form>
