<form action="/account/login" enctype="application/x-www-form-urlencoded" method="post">
  <fieldset>
    <label for='email'>Email Address</label>
    <input type='email' class="login-form" name='login-email-address' id="login-email-address">
    <label for='password'>Password</label>
    <input type='password' class="login-form" name='login-email-password' id="login-email-password" value=''>
    <input class="button pipe" type='submit' value='Login'>
  </fieldset>
</form>
