<nav>
  
  <div class="tier-0">
    
    <div class="secondary left">
      <!-- <span class="branding"><a href="/">Photopipe</a></span> -->
    </div>
    
    <div class="primary right">

      <div class="nav-section">
        <a href="/account/profile">
          <span class="nav-item">My Account</span>
        </a>
      </div>

      <div class="nav-section">
        <a href="/account/settings">
          <span class="nav-item">Settings</span>
        </a>
      </div>

      <div class="nav-section">
        <a href="/account/logout">
          <span class="nav-item">Logout</span>
        </a>
      </div>
    
    </div>
    
  </div> <!-- /.tier-0 -->
  
</nav>
