<nav class='trans-black-bg'>
  <h1><a href="/">Photo<span class="cool">Pipe</span></a></h1>
  <div class="nav-primary">
    <span>Hello <a class="cool" href="/<%= username %>"><%= username %></a> | </span>
    <span><a href="/account/logout">Logout</a></span>
  </div>
  <!-- <div id="spin"></div> -->
</nav>
