<!DOCTYPE html>
<html>
<%- include head %>
<body class="not-implemented">

    <div id="main">

      <section id="lead">
        <header>
          <hgroup>
            <h1>HEYO!</h1>
          </hgroup>
        </header>
      </section>

      <section id="copy">
        <p>It appears that feature isn't implemented yet.</p>  
        <p>We're working on it!</p>
        <p>
          <a href="/">Head to PhotoPipe Home Page &rarr;</a>
        </p>
      </section>

    </div>

  </body>

</html>