<!DOCTYPE html>
<html>
<%- include head %>
<body>

  <div id="main">

    <%- include nav %>
      <section>
        <p>It appears that feature isn't implemented yet.</p>  
        <p class="steps-copy">We're working on it!</p>
        <p class="permissions-copy">
          <a href="/">Head to PhotoPipe Home Page &rarr;</a>
        </p>
      </section>
    </div>
  </body>
</html>