<!-- TODO: CHECK TO SEE IF THESE ARE ALREADY SYNC'D AND IF THEY ARE ADD A CLASS SHOWING THEM AS SYNC'D -->
<ul id="photo-to-pipe">
  <li><a id="instagram" href="/instagram" class="button-instagram"></a></li>    
  <li><a id="twitter" href="/twitter/get_media_timeline" class="button-twitter"></a></li>
  <li><a id="facebook" href="/facebook" class="button-facebook"></a></li>
  <li><a id="dropbox" href="/dropbox" class="dropbox-destination button-dropbox"></a></li>
</ul>