<form id="instagram_search_form" action="/instagram/search" enctype="application/x-www-form-urlencoded" method="post">
  <fieldset>
    <label for='caption'>Search Query</label>
    <input type='text' class="big-text-field" name='search_query' id="search_query" value='Pipe' placholder="Pipe">
    <input class="button pipe" type='submit' value='Search for Photos!'>
  </fieldset>
</form>
