<section id="step-one">
  <p class="steps">Step 1</p>
  <p class="steps-copy">Select your photo source:</p>
  <ul id="photo-to-pipe">
    <li><a id="instagram" data-auth="<%= isInstagramAuth %>" href="/instagram/get_user_recent_photos" class="button-instagram"></a></li>    
    <li><a id="twitter" data-auth="<%= isTwitterAuth %>" href="/twitter/get_media_timeline" class="button-twitter"></a></li>
    <li><a id="facebook" data-auth="<%= isFacebookAuth %>" href="/facebook/get_photo_albums" class="button-facebook"></a></li>
    <li><a id="url" data-auth="true" href="/url" class="button-url"></a></li>
  </ul>  
</section>
