<!DOCTYPE html>
<html>
<%- include head %>
<body>

  <div id="main">

    <%- include nav %>
      <section id="wtf">
        <p class="steps">Have you...</p>  
        <p>...ever wanted to download your photos from Instagram?</p>  
        <p class="steps">Maybe you...</p>  
        <p>...saw an image somewhere on the web that you wanted to post to your Facebook Wall.</p>  
        <p class="steps">Wouldn't it be cool if...</p>  
        <p>...you could browse all of your Instagram photos in one place?</p>  
        <p class="steps">Or if...</p>  
        <p>...you could fetch all of the photos you've Tweeted and pick which one you want to post to Facebook?</p>  
        <p class="steps">Photo<span class="cool">Pipe</span> does just that!</p>
        <p class="steps-copy">Simply connect at least two of your social network or utility accounts and retrieve and pipe your photos where ever you want!</p>
        <p class="permissions-copy">
          <a href="/">Try it out now! &rarr;</a>
        </p>
      </section>
    </div>
  </body>
</html>