/* http://www.red-team-design.com/wp-content/uploads/2011/09/awesome-css3-buttons.html */
/*
.button
  display: inline-block
  white-space: nowrap
  background-color: #DDD
  background-image: -webkit-gradient(linear, left top, left bottom, from(#EEE), to(mainColor))
  background-image: -webkit-linear-gradient(top, #EEE, mainColor)
  background-image: -moz-linear-gradient(top, #EEE, mainColor)
  background-image: -ms-linear-gradient(top, #EEE, mainColor)
  background-image: -o-linear-gradient(top, #EEE, mainColor)
  background-image: linear-gradient(top, #EEE, mainColor)
  border: 1px solid #777
  padding: 0 1.5em
  margin: 0.5em 0
  font: bold 2em/2em Arial, Helvetica
  text-decoration: none
  color: #333
  text-shadow: 0 1px 0 rgba(255, 255, 255, .8)
  -moz-border-radius: .2em
  -webkit-border-radius: .2em
  border-radius: .2em
  -moz-box-shadow: 0 0 1px 1px rgba(255,255,255,.8) inset, 0 1px 0 rgba(0,0,0,.3)
  -webkit-box-shadow: 0 0 1px 1px rgba(255, 255, 255, .8) inset, 0 1px 0 rgba(0, 0, 0, .3)
  box-shadow: 0 0 1px 1px rgba(255, 255, 255, .8) inset, 0 1px 0 rgba(0, 0, 0, .3)
  cursor pointer
*/

gradColor = darken(#ccc,20)
grad2Color = darken(#ccc,30)

.button
  display: inline-block
  white-space: nowrap
  background-color: gradColor
  background-image: -webkit-gradient(linear, left top, left bottom, from(gradColor), to(grad2Color))
  background-image: -webkit-linear-gradient(top, gradColor, grad2Color)
  background-image: -moz-linear-gradient(top, gradColor, grad2Color)
  background-image: -ms-linear-gradient(top, gradColor, grad2Color)
  background-image: -o-linear-gradient(top, gradColor, grad2Color)
  background-image: linear-gradient(top, gradColor, grad2Color)
  border: 1px solid #777
  padding: 0 1.5em
  margin: 0.5em 0
  text-decoration: none
  color: #333
  text-shadow: 0 1px 0 rgba(255, 255, 255, .8)
  -moz-border-radius: .2em
  -webkit-border-radius: .2em
  border-radius: .2em
  cursor pointer
  margin: 3% auto;
  font-size: 1.6em;
  line-height: 2
  width 100%

.button:hover
  background-color #fff
  background-image: -webkit-gradient(linear, left top, left bottom, from(gradColor), to(lighten(grad2Color,20)))
  background-image: -webkit-linear-gradient(top, gradColor, lighten(grad2Color,20))
  background-image: -moz-linear-gradient(top, gradColor, lighten(grad2Color,20))
  background-image: -ms-linear-gradient(top, gradColor, lighten(grad2Color,20))
  background-image: -o-linear-gradient(top, gradColor, lighten(grad2Color,20))
  background-image: linear-gradient(top, gradColor, lighten(grad2Color,20))

.button:active
  -moz-box-shadow 0 0 4px 2px rgba(0,0,0,.3) inset
  -webkit-box-shadow 0 0 4px 2px rgba(0,0,0,.3) inset
  box-shadow 0 0 4px 2px rgba(0,0,0,.3) inset
  position relative
  top 1px

.button:focus
  outline 0
  background #fafafa

.button:before
  background rgba(0,0,0,.1)
  float left
  width 1em
  text-align center
  font-size 1.5em
  margin 0 1em 0 -1em
  padding 0 .2em
  -moz-box-shadow 1px 0 0 rgba(0,0,0,.5), 2px 0 0 rgba(255,255,255,.5)
  -webkit-box-shadow 1px 0 0 rgba(0,0,0,.5), 2px 0 0 rgba(255,255,255,.5)
  box-shadow 1px 0 0 rgba(0,0,0,.5), 2px 0 0 rgba(255,255,255,.5)
  -moz-border-radius .15em 0 0 .15em
  -webkit-border-radius .15em 0 0 .15em
  border-radius .15em 0 0 .15em
  pointer-events none

.pipe
  display block
  margin 3% auto 0%
  
.add:before
  content "\271A"

.save:before
  content: "\2714"
  
[data-icon]:before
  font-family: icons
  content: attr(data-icon)
  speak: none

.button-twitter
.button-instagram,
.button-facebook,
.button-dropbox,
.button-download,
.button-url
  display inline-block
  width 200px
  height 200px
  padding 2%

.button-instagram
  background transparent url('/img/instagram-200x200.png') no-repeat scroll top left

.button-facebook
  background transparent url('/img/facebook-200x200.png') no-repeat scroll top left

.button-twitter
  background transparent url('/img/twitter-200x200.png') no-repeat scroll top left

.button-dropbox
  background transparent url('/img/dropbox-200x200.png') no-repeat scroll top left

.button-download
  background transparent url('/img/download-200x200.png') no-repeat scroll top left

.button-url
  background transparent url('/img/url-200x200.png') no-repeat scroll top left


.button-connect-instagram
  display inline-block
  width 186px
  height 38px
  background transparent url('/img/button-signin-instagram-186x36.png') no-repeat scroll top left

.button-connect-facebook
  display inline-block
  width 234px
  height 37px
  background transparent url('/img/button-signin-facebook-234x37.png') no-repeat scroll top left

.button-connect-twitter
  display inline-block
  width 234px
  height 37px
  background transparent url('/img/button-signin-twitter-234x37.png') no-repeat scroll top left

.button-connect-dropbox
  display inline-block
  width 218px
  height 54px
  background transparent url('/img/button-signin-dropbox-218x54.png') no-repeat scroll top left
