html, body
  height 100%
  width 100%
  overflow auto
  
body
  background-color #f7f7fa
  background-image url(/img/snow.png) repeat scroll top left
  background-image -webkit-linear-gradient(top,rgba(255,255,255,0.1) 0,rgba(0,0,0,0.1) 100%),url(/img/snow.png)
  background-image -moz-linear-gradient(top,rgba(255,255,255,0.1) 0,rgba(0,0,0,0.1) 100%),url(/img/snow.png)
  background-image -o-linear-gradient(top,rgba(255,255,255,0.1) 0,rgba(0,0,0,0.1) 100%),url(/img/snow.png)
  background-image -ms-linear-gradient(top,rgba(255,255,255,0.1) 0,rgba(0,0,0,0.1) 100%),url(/img/snow.png)
  background-image linear-gradient(top,rgba(255,255,255,0.1) 0,rgba(0,0,0,0.1) 100%),url(/img/snow.png)
  -webkit-box-shadow 0 2px 2px rgba(0,0,0,0.25)
  -moz-box-shadow 0 2px 2px rgba(0,0,0,0.25)
  box-shadow 0 2px 2px rgba(0,0,0,0.25)
  color #333
  font-weight 300
  letter-spacing -.5px

p
  font-size 1.2em
  margin 0
  padding 0

a, a:visited
  text-decoration none
  color contrastColor

.no-touch a:hover, .no-touch a:active, .no-touch a:focus
  color lighten(contrastColor,5)
  
fieldset
  border none

.main
  background: #fafafa
  background: rgba(0,0,0,0.05)
  min-height 100%
  padding 2% 1.5%

