body
  background transparent url('/img/photopipe-home-bg.jpg') no-repeat scroll top left
  width 98%
  height 100%
  font-family 'Helvetica Neue', Helvetica, serif
  font-weight 300
  color #F5F5F5

section
  margin 0 auto

#lead
  background rgba(0,0,0,0.0)
  width 100%
  height 10%
  margin 0 auto
  padding 2% 0 0

header
  padding 0 20%
  width 60%

h1, h2, h3, p
  font-weight 100

h1, h2
  text-align center

h3
  text-align left

p
  font-size 1.2em

a, a:visited
  text-decoration none
  color contrastColor

a:hover, a:active, a:focus
  color lighten(contrastColor,5)
  border-bottom 1px dotted textColor

h1
  display block
  font-size 4.8em  
  color mainColor
  
h2
  font-size 2.4em

h3
  font-size 2em

.login-header
  margin 0 0 4%
  padding 0

.bottom-dotted
  border-bottom 1px dotted #ccc

#account
  max-width 440px
  overflow auto
  background black
  background rgba(0,0,0,0.8)
  padding 0 1%
  
.login
  display block
  width 100%

.underline
  border-bottom 1px solid #fefefe

.left
  float left

.right
  float right

.border-box
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;

.box-flex
  -webkit-box-flex: 1;
  -moz-box-flex: 1;
  -ms-box-flex: 1;
  -webkit-box-flex: 1;
  -moz-box-flex: 1;
  -ms-box-flex: 1;
  -o-box-flex: 1;
  box-flex: 1;

.login
  width 94%
  padding 3%

fieldset
  margin 5% auto 0
  padding 0

label
  display block
  padding 0 0 2%
  font-size 1.4em
  text-align left

.form-item-wrapper
  margin 7% 0%

.form-item
  width 100%

.input-item
  width 92.5%
  padding 2.5% 3%
  background-color rgba(255, 255, 255, 0.87)

.input-item:focus
  outline 2px solid lighten(contrastColor,20)

.error-copy
  color red
  line-height 1.8
  

#copy
  margin 5% auto

#copy p
  margin 2.5% auto 

body.not-implemented #copy p
  font-size 2.2em
