#login
  max-width 480px
  margin 4% auto 0

form
  max-width 480px
  
label
  display block
  padding 2% 0 0
  font-size 2em
  text-align left

header
  margin 2% auto 4%

#login hr
  width 94%
    
input[type='url'], 
input[type='email'], 
input[type='text'], 
input[type='password']
  display block
  font 150% 'Aldrich', Helvetica, Arial, sans-serif

.login-form
  width 88%

fieldset > .button, 
.login-copy
  width 94%

fieldset > .button
  margin-top 6%
  
fieldset
  background rgba(0,0,0,0.05)
  border 0
  padding 4% 5% 8%
  margin-top 3%

.login-form, label
  margin 2.5% 3%

.login-form
  padding 4% 2.5%

.login-copy
  margin 8% auto 6%

#login p,
#login .error-copy
  font-size 1.2em

#login .error-heading,
#login .error-copy
  color red

#login a
  color contrastColor

.no-account-copy
  margin 8% auto 0

.no-account-copy > p:last-child
  margin-top 3%
