mainColor = #00BFFF
textColor = #fefefe
contrastColor = #F46A0C

borderRadius(radius = 5px)
  -webkit-border-radius radius
  -moz-border-radius radius
  border-radius radius

boxSizing(type = border-box)
  -webkit-box-sizing type 
  -moz-box-sizing type    
  box-sizing type

boxCenter()
  display -webkit-box
  -webkit-box-orient horizontal
  -webkit-box-pack center
  -webkit-box-align center
  display -moz-box
  -moz-box-orient horizontal
  -moz-box-pack center
  -moz-box-align center
  display box
  box-orient horizontal
  box-pack center
  box-align center

normOpacity(opacity = 100) 
  -khtml-opacity: (opacity/100)
  -moz-opacity: (opacity/100)
  opacity: (opacity/100)

padLeft(percentage = 1%)
  padding-left percentage

padTop(percentage = 1%)
  padding-top percentage