nav
  font-size 1.2em
  left 0
  top 0
  width 100%
  z-index 999

.tier-0
  webkit-box-shadow 0 1px 2px rgba(0,0,0,0.5)
  -moz-box-shadow 0 1px 2px rgba(0,0,0,0.5)
  box-shadow 0 1px 2px rgba(0,0,0,0.5)
  position relative
  z-index 9
  width 100%
  display table
  margin 0 auto
  text-align right
  
.nav-section
  background #fafaff url(/img/bg-nav-50x50.jpg) repeat scroll top left
  border-left 1px solid #fff
  border-right 1px solid rgba(0,0,0,0.2)
  height 2.604166667em
  text-align center
  -webkit-transition background-color 200ms
  -moz-transition background-color 200ms
  -o-transition background-color 200ms
  -ms-transition background-color 200ms
  transition background-color 200ms
  vertical-align middle
  display inline-table
  min-width 4.166666667em

span.branding
  height 2.604166667em
  text-align center
  -webkit-transition background-color 200ms
  -moz-transition background-color 200ms
  -o-transition background-color 200ms
  -ms-transition background-color 200ms
  transition background-color 200ms
  vertical-align middle
  display inline-table
  min-width 4.166666667em
  float left
  line-height: 2.7125em;
  padding: 0 1em
  font-size 1em

.nav-section:first-child
  border-left 1px solid rgba(0,0,0,0.2)

.primary, .secondary
  display table

.no-touch .nav-section:hover
  background-image none
  color contrastColor

.nav-section a
  line-height 2.7125em
  padding 0 1.5625em

.nav-section a > .nav-item
  color #333

.no-touch .nav-section a > .nav-item:hover
  color contrastColor

/* 1em = 16px from body */
@media only screen and (min-width: 45em) and (max-width: 57.5em)

  h1
    font-size 2.8em


@media only screen and (min-width: 34.25em) and (max-width: 45em)

  body
    color #333

@media only screen and (min-width: 20em) and (max-width: 34.24em)

  .secondary
    width 100%

  span.branding
    float none
    width 100%
    text-align center
    
  .nav-section
    width 33.3333%
    border-top 1px solid rgba(0,0,0,0.2)
  
  .primary.right 
    float none
    width 100%

  .nav-section a
    padding 0


