#photo-to-pipe
  margin 0
  padding 0
  display inline
  width auto

#photo-to-pipe li
  margin 1% 1.4%
  display inline-block
  padding 0

#photo-to-pipe li a
  margin 0
  padding 0
  borderRadius(10px)