/* 1em = 16px */
@media only screen and (min-width: 45em) and (max-width: 57.5em)

  h1
    font-size 2.8em

  h2
    font-size 1.8em

  h3
    font-size 1.6em

  .notification-container
    margin 7% 5% 2.5%
    padding 2% 6%


@media only screen and (min-width: 30em) and (max-width: 45em)

  h1
    font-size 2.8em

  h2
    font-size 1.8em

  h3
    font-size 1.6em

  .notification-container
    margin 3.5% auto 3.5%
    padding 2% 3%
  
    
@media only screen and (min-width: 20em) and (max-width: 29.9999em)

  h1
    font-size 2.8em

  h2
    font-size 1.8em

  h3
    font-size 1.6em
    padding 4% 2%

  .notification-container
    margin 2.5%
    padding 2.5% 6%

    
  /** Login Form **/
  #login
    margin-top 2%

  /** Search Form **/
  .left-search-form
    position static
    width 100%

  .right-search-gallery
    width 100%
    margin-top 2%

  .hit-target
    padding 1.1em 0

    
  #photo-to-pipe li,
  #photo-to-pipe li:first-child,
  #photo-to-pipe li:last-child
    margin 0 0 5%

  .close-one-up
    top -3.5%
    right -3.5%
  
  .one-up
    left 0
    margin 0 5%

  .steps
    font-size 5.4em

  .oauth-page
    margin-top 9%
  
  .button
    font bold 1.2em/2.4em Helvetica, Arial 
    
