.left-search-form
  padding 0
  margin 0
  position fixed
  width 32%

.right-search-gallery
  float right
  width 48%
  margin-top .5%

.big-text-field
  width 87%
  margin-left 3%

#instagram-search-query
  background transparent url(/img/instagram-50x50.png) no-repeat top right scroll
  height 2em