/*
*
  -moz-transition all 0.2s ease
  -o-transition all 0.2s ease
  -webkit-transition all 0.2s ease
  -ms-transition all 0.2s ease
*/
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
nav,
section {
  display: block;
}
audio[controls],
canvas,
video {
  display: inline-block;
  *display: inline;
  *zoom: 1;
}
html {
  font-size: 100%;
  -webkit-tap-highlight-color: rgba(0,0,0,0.3);
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
}
body {
  margin: 0;
}
body,
button,
input,
select,
textarea {
  font-family: sans-serif;
}
a {
  color: #00e;
}
a:visited {
  color: #551a8b;
}
a:focus {
  outline: thin dotted;
}
a:hover,
a:active {
  outline: 0;
}
abbr[title] {
  border-bottom: 1px dotted;
}
b,
strong {
  font-weight: bold;
}
blockquote {
  margin: 1em 40px;
}
dfn {
  font-style: italic;
}
mark {
  background: #ff0;
  color: #000;
}
pre,
code,
kbd,
samp {
  font-family: monospace, monospace;
  _font-family: "courier new", monospace;
  font-size: 1em;
}
pre {
  white-space: pre-wrap;
  word-wrap: break-word;
}
q {
  quotes: none;
}
q:before,
q:after {
  content: none;
}
small {
  font-size: 75%;
}
sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}
sup {
  top: -0.5em;
}
sub {
  bottom: -0.25em;
}
ul,
ol {
  margin: 1em 0;
  padding: 0 0 0 40px;
}
dd {
  margin: 0 0 0 40px;
}
nav ul,
nav ol {
  list-style: none;
}
img {
  border: 0;
  max-width: 100%;
  -ms-interpolation-mode: bicubic;
}
svg:not(:root) {
  overflow: hidden;
}
figure {
  margin: 0;
}
form {
  margin: 0;
}
fieldset {
  margin: 0 2px;
  padding: 0.35em 0.625em 0.75em;
}
legend {
  border: 0;
  *margin-left: -7px;
}
button,
input,
select,
textarea {
  font-size: 100%;
  margin: 0;
  vertical-align: baseline;
  *vertical-align: middle;
}
button,
input {
  line-height: normal;
  *overflow: visible;
}
button,
input[type="button"],
input[type="reset"],
input[type="submit"] {
  cursor: pointer;
  -webkit-appearance: button;
}
input[type="checkbox"],
input[type="radio"] {
  box-sizing: border-box;
}
input[type="search"] {
  -webkit-appearance: textfield;
  -moz-box-sizing: content-box;
  -webkit-box-sizing: content-box;
  box-sizing: content-box;
}
input[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none;
}
button::-moz-focus-inner,
input::-moz-focus-inner {
  border: 0;
  padding: 0;
}
textarea {
  overflow: auto;
  vertical-align: top;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
.button {
  display: inline-block;
  white-space: nowrap;
  background-color: #ddd;
  background-image: -webkit-gradient(linear, left top, left bottom, from(#eee), to(#3f729b));
  background-image: -webkit-linear-gradient(top, #eee, #3f729b);
  background-image: -moz-linear-gradient(top, #eee, #3f729b);
  background-image: -ms-linear-gradient(top, #eee, #3f729b);
  background-image: -o-linear-gradient(top, #eee, #3f729b);
  background-image: linear-gradient(top, #eee, #3f729b);
  border: 1px solid #777;
  padding: 0 1.5em;
  margin: 0.5em 0;
  font: bold 2em/2em Arial, Helvetica;
  text-decoration: none;
  color: #333;
  text-shadow: 0 1px 0 rgba(255,255,255,0.8);
  -moz-border-radius: 0.2em;
  -webkit-border-radius: 0.2em;
  border-radius: 0.2em;
  -moz-box-shadow: 0 0 1px 1px rgba(255,255,255,0.8) inset, 0 1px 0 rgba(0,0,0,0.3);
  -webkit-box-shadow: 0 0 1px 1px rgba(255,255,255,0.8) inset, 0 1px 0 rgba(0,0,0,0.3);
  box-shadow: 0 0 1px 1px rgba(255,255,255,0.8) inset, 0 1px 0 rgba(0,0,0,0.3);
  cursor: pointer;
}
.button:hover {
  background-color: #fff;
  background-image: -webkit-gradient(linear, left top, left bottom, from(#eee), to(#78a4c8));
  background-image: -webkit-linear-gradient(top, #eee, #78a4c8);
  background-image: -moz-linear-gradient(top, #eee, #78a4c8);
  background-image: -ms-linear-gradient(top, #eee, #78a4c8);
  background-image: -o-linear-gradient(top, #eee, #78a4c8);
  background-image: linear-gradient(top, #eee, #78a4c8);
}
.button:active {
  -moz-box-shadow: 0 0 4px 2px rgba(0,0,0,0.3) inset;
  -webkit-box-shadow: 0 0 4px 2px rgba(0,0,0,0.3) inset;
  box-shadow: 0 0 4px 2px rgba(0,0,0,0.3) inset;
  position: relative;
  top: 1px;
}
.button:focus {
  outline: 0;
  background: #fafafa;
}
.button:before {
  background: rgba(0,0,0,0.1);
  float: left;
  width: 1em;
  text-align: center;
  font-size: 1.5em;
  margin: 0 1em 0 -1em;
  padding: 0 0.2em;
  -moz-box-shadow: 1px 0 0 rgba(0,0,0,0.5), 2px 0 0 rgba(255,255,255,0.5);
  -webkit-box-shadow: 1px 0 0 rgba(0,0,0,0.5), 2px 0 0 rgba(255,255,255,0.5);
  box-shadow: 1px 0 0 rgba(0,0,0,0.5), 2px 0 0 rgba(255,255,255,0.5);
  -moz-border-radius: 0.15em 0 0 0.15em;
  -webkit-border-radius: 0.15em 0 0 0.15em;
  border-radius: 0.15em 0 0 0.15em;
  pointer-events: none;
}
.pipe {
  display: block;
  margin: 3% auto 0%;
}
.add:before {
  content: "\271A";
}
.save:before {
  content: "\2714";
}
[data-icon]:before {
  font-family: icons;
  content: attr(data-icon);
  speak: none;
}
.button-twitter,
.button-instagram,
.button-facebook,
.button-dropbox,
.button-download,
.button-url {
  display: inline-block;
  width: 200px;
  height: 200px;
  padding: 2%;
}
.button-instagram {
  background: transparent url("/img/instagram-200x200.png") no-repeat scroll top left;
}
.button-facebook {
  background: transparent url("/img/facebook-200x200.png") no-repeat scroll top left;
}
.button-twitter {
  background: transparent url("/img/twitter-200x200.png") no-repeat scroll top left;
}
.button-dropbox {
  background: transparent url("/img/dropbox-200x200.png") no-repeat scroll top left;
}
.button-download {
  background: transparent url("/img/download-200x200.png") no-repeat scroll top left;
}
.button-url {
  background: transparent url("/img/url-200x200.png") no-repeat scroll top left;
}
.button-connect-instagram {
  display: inline-block;
  width: 186px;
  height: 38px;
  background: transparent url("/img/button-signin-instagram-186x36.png") no-repeat scroll top left;
}
.button-connect-facebook {
  display: inline-block;
  width: 234px;
  height: 37px;
  background: transparent url("/img/button-signin-facebook-234x37.png") no-repeat scroll top left;
}
.button-connect-twitter {
  display: inline-block;
  width: 234px;
  height: 37px;
  background: transparent url("/img/button-signin-twitter-234x37.png") no-repeat scroll top left;
}
.button-connect-dropbox {
  display: inline-block;
  width: 218px;
  height: 54px;
  background: transparent url("/img/button-signin-dropbox-218x54.png") no-repeat scroll top left;
}
@font-face {
  font-family: 'icons';
  src: url("/font/IcoMoon.eot?#") format('eot'), url("/font/IcoMoon.woff") format('woff'), url("/font/IcoMoon.ttf") format('truetype');
}
body {
  font: 100% 'Aldrich', Helvetica, Arial, sans-serif;
  background: transparent url("/img/bg-noise-150x150.png") repeat scroll top left;
  color: #3b3b3b;
}
section {
  margin: 2.75% auto;
}
label {
  display: block;
  padding: 2% 0 0;
  font-size: 2em;
}
input:focus {
  outline: 2px solid #f8a66e;
}
header {
  margin: 2% auto;
}
input[type='url'] {
  display: block;
  width: 94%;
  padding: 1.75%;
  margin-bottom: 2%;
}
fieldset {
  background: rgba(0,0,0,0.05);
  border: 2px dotted #3f729b;
  padding: 3% 5%;
}
nav {
  text-align: left;
}
h1 {
  font-size: 2.4em;
  line-height: 1;
  display: inline-block;
  margin: 0;
}
hr {
  clear: both;
}
p {
  font-size: 2.8em;
  line-height: 1;
  margin: 0;
  padding: 0;
}
ul {
  margin: 0;
  padding: 0;
}
li {
  list-style-type: none;
}
img {
  max-width: 100%;
}
nav > a {
  float: right;
  margin-top: 1.75%;
}
a {
  text-decoration: none;
  color: #3f729b;
}
a:visited {
  color: #3f729b;
}
h1 > a,
h1 > a:visited {
  color: #3b3b3b;
}
#main {
  width: 98%;
  max-width: 920px;
  margin: 1% auto 0;
  text-align: center;
}
#overlay {
  background-color: #000;
  opacity: 0.5;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: none;
}
#spin {
  display: block;
}
.steps {
  font-size: 6em;
  margin: 6% 0 3%;
}
.steps-copy {
  font-size: 2.4em;
  margin-bottom: 3%;
}
.permissions-copy {
  font-size: 1.2em;
  margin: 4% auto 0;
  max-width: 20em;
}
.inline {
  display: inline;
}
.inline-block {
  display: inline-block;
}
.cool {
  color: #3f729b;
}
.bold {
  font-weight: bold;
}
.hit-target {
  padding: 0;
}
.hide {
  display: none;
}
.dotted {
  border-bottom: 1px dotted #3f729b;
}
.gallery {
  position: relative;
}
.disabled {
  -khtml-opacity: 0.33;
  -moz-opacity: 0.33;
  opacity: 0.33;
}
.spin-container {
  position: relative;
  left: 48%;
  margin: 8% auto;
}
.gallery > img,
.one-up-wrapper > img,
.gallery-wrapper {
  border: 3px solid #ccc;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
  background: rgba(0,0,0,0.1);
  padding: 2%;
  margin: 2%;
  cursor: pointer;
}
.gallery > img {
  max-width: 130px;
}
.gallery-wrapper {
  max-width: 130px;
  text-align: center;
}
.fb-gallery-label {
  display: block;
}
#photo-to-pipe {
  margin: 3% 0;
  display: inline;
  width: auto;
}
#photo-to-pipe li {
  margin: 1% 1.4%;
  display: inline-block;
  padding: 0;
}
#photo-to-pipe li a {
  margin: 0;
  padding: 0;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  border-radius: 10px;
}
.none,
#step-two,
#step-three,
#step-four,
#photo-picker-twitter,
#photo-picker-facebook,
#photo-picker-instagram,
#photo-picker-url,
#gallery-picker-facebook {
  display: none;
}
.one-up-wrapper {
  position: absolute;
  width: 100%;
  top: 0;
}
.one-up {
  display: none;
  padding: 3%;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
  background: #ccc;
  z-index: 2;
  max-width: 630px;
  margin: 0 auto;
  position: relative;
}
#one-up-relative {
  position: relative;
}
#one-up-controls-wrapper {
  position: absolute;
  bottom: 0;
  height: 36px;
  width: 100%;
}
#one-up-controls-cancel,
#one-up-controls-use {
  display: inline;
  width: 50%;
  float: left;
  height: 30px;
  background: #cecece;
  font-family: Helvetica;
}
#demoCurlSection > pre {
  background: rgba(0,0,0,0.05);
  border: 2px dotted #3f729b;
  padding: 3% 5%;
}
.close-one-up {
  color: #e71e03;
  position: absolute;
  top: -1.9%;
  right: -1.9%;
  display: none;
  z-index: 5;
  font-size: 3em;
  cursor: pointer;
}
.use-photo-container {
  margin: 2% auto 0;
  text-align: center;
}
.oauth-page {
  margin-top: 3%;
}
.photoPipeForm {
  margin-top: 6%;
  display: none;
}
.error_redirect {
  margin-top: 6%;
}
.big-text-field {
  padding: 3%;
  font-size: 2.4em;
  line-height: 2.4;
  width: 90%;
}
#wtf > p {
  margin: 3% auto;
  line-height: 1.4;
  color: #626262;
}
#wtf > .steps {
  line-height: 1;
  color: #3b3b3b;
}
#debug {
  display: none;
}
#debug p {
  font-size: 1.2em;
  line-height: 2;
  color: #f00;
}
#login {
  max-width: 480px;
  margin: 4% auto 0;
}
form {
  max-width: 480px;
}
label {
  display: block;
  padding: 2% 0 0;
  font-size: 2em;
  text-align: left;
}
header {
  margin: 2% auto 4%;
}
#login hr {
  width: 94%;
}
input[type='url'],
input[type='email'],
input[type='text'],
input[type='password'] {
  display: block;
  font: 150% 'Aldrich', Helvetica, Arial, sans-serif;
}
.login-form {
  width: 88%;
}
fieldset > .button,
.login-copy {
  width: 94%;
}
fieldset > .button {
  margin-top: 6%;
}
fieldset {
  background: rgba(0,0,0,0.05);
  border: 0;
  padding: 4% 5% 8%;
  margin-top: 3%;
}
.login-form,
label {
  margin: 2.5% 3%;
}
.login-form {
  padding: 4% 2.5%;
}
.login-copy {
  margin: 8% auto 6%;
}
#login p,
#login .error-copy {
  font-size: 1.2em;
}
#login .error-heading,
#login .error-copy {
  color: #f00;
}
#login a {
  color: #f46a0c;
}
.no-account-copy {
  margin: 8% auto 0;
}
.no-account-copy > p:last-child {
  margin-top: 3%;
}
.left-search-form {
  padding: 0;
  margin: 0;
  position: fixed;
  width: 32%;
}
.right-search-gallery {
  float: right;
  width: 48%;
  margin-top: 0.5%;
}
.big-text-field {
  width: 87%;
  margin-left: 3%;
}
#instagram-search-query {
  background: transparent url("/img/instagram-50x50.png") no-repeat top right scroll;
  height: 50px;
}
@media only screen and (min-width: 45em) and (max-width: 57.5em) {
  body {
    padding: 2% 1%;
  }
  h1 {
    font-size: 2.3em;
  }
}
@media only screen and (min-width: 30em) and (max-width: 45em) {
  body {
    padding: 2% 1%;
  }
  h1 {
    font-size: 2.2em;
  }
}
@media only screen and (min-width: 20em) and (max-width: 29.9999em) {
  .hit-target {
    padding: 1.1em 0;
  }
  body {
    padding: 3% 1%;
  }
  h1 {
    font-size: 2.1em;
  }
  nav > a {
    margin-top: 3%;
  }
  #photo-to-pipe li,
  #photo-to-pipe li:first-child,
  #photo-to-pipe li:last-child {
    margin: 0 0 5%;
  }
  .close-one-up {
    top: -3.5%;
    right: -3.5%;
  }
  .one-up {
    left: 0;
    margin: 0 5%;
  }
  .steps {
    font-size: 5.4em;
  }
  .oauth-page {
    margin-top: 9%;
  }
  .button {
    font: bold 1.2em/2.4em Helvetica, Arial;
  }
  #login {
    margin-top: 2%;
  }
  .left-search-form {
    position: static;
    width: 100%;
  }
  .right-search-gallery {
    width: 100%;
    margin-top: 2%;
    overflow: scroll;
    overflow-x: hidden;
    -webkit-overflow-scrolling: touch;
  }
}
