article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
nav,
section {
  display: block;
}
audio[controls],
canvas,
video {
  display: inline-block;
  *display: inline;
  *zoom: 1;
}
html {
  font-size: 100%;
  -webkit-tap-highlight-color: rgba(0,0,0,0.3);
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
}
body {
  margin: 0;
}
body,
button,
input,
select,
textarea {
  font-family: sans-serif;
}
a {
  color: #00e;
}
a:visited {
  color: #551a8b;
}
a:focus {
  outline: thin dotted;
}
a:hover,
a:active {
  outline: 0;
}
abbr[title] {
  border-bottom: 1px dotted;
}
b,
strong {
  font-weight: bold;
}
blockquote {
  margin: 1em 40px;
}
dfn {
  font-style: italic;
}
mark {
  background: #ff0;
  color: #000;
}
pre,
code,
kbd,
samp {
  font-family: monospace, monospace;
  _font-family: "courier new", monospace;
  font-size: 1em;
}
pre {
  white-space: pre-wrap;
  word-wrap: break-word;
}
q {
  quotes: none;
}
q:before,
q:after {
  content: none;
}
small {
  font-size: 75%;
}
sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}
sup {
  top: -0.5em;
}
sub {
  bottom: -0.25em;
}
ul,
ol {
  margin: 1em 0;
  padding: 0 0 0 40px;
}
dd {
  margin: 0 0 0 40px;
}
nav ul,
nav ol {
  list-style: none;
}
img {
  border: 0;
  max-width: 100%;
  -ms-interpolation-mode: bicubic;
}
svg:not(:root) {
  overflow: hidden;
}
figure {
  margin: 0;
}
form {
  margin: 0;
}
fieldset {
  margin: 0 2px;
  padding: 0.35em 0.625em 0.75em;
}
legend {
  border: 0;
  *margin-left: -7px;
}
button,
input,
select,
textarea {
  font-size: 100%;
  margin: 0;
  vertical-align: baseline;
  *vertical-align: middle;
}
button,
input {
  line-height: normal;
  *overflow: visible;
}
button,
input[type="button"],
input[type="reset"],
input[type="submit"] {
  cursor: pointer;
  -webkit-appearance: button;
}
input[type="checkbox"],
input[type="radio"] {
  box-sizing: border-box;
}
input[type="search"] {
  -webkit-appearance: textfield;
  -moz-box-sizing: content-box;
  -webkit-box-sizing: content-box;
  box-sizing: content-box;
}
input[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none;
}
button::-moz-focus-inner,
input::-moz-focus-inner {
  border: 0;
  padding: 0;
}
textarea {
  overflow: auto;
  vertical-align: top;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
.button {
  display: inline-block;
  white-space: nowrap;
  background-color: #999;
  background-image: -webkit-gradient(linear, left top, left bottom, from(#999), to(#808080));
  background-image: -webkit-linear-gradient(top, #999, #808080);
  background-image: -moz-linear-gradient(top, #999, #808080);
  background-image: -ms-linear-gradient(top, #999, #808080);
  background-image: -o-linear-gradient(top, #999, #808080);
  background-image: linear-gradient(top, #999, #808080);
  border: 1px solid #777;
  padding: 0 1.5em;
  margin: 0.5em 0;
  text-decoration: none;
  color: #333;
  text-shadow: 0 1px 0 rgba(255,255,255,0.8);
  -moz-border-radius: 0.2em;
  -webkit-border-radius: 0.2em;
  border-radius: 0.2em;
  cursor: pointer;
  margin: 3% auto;
  font-size: 1.6em;
  line-height: 2;
  width: 100%;
}
.button:hover {
  background-color: #fff;
  background-image: -webkit-gradient(linear, left top, left bottom, from(#999), to(#b3b3b3));
  background-image: -webkit-linear-gradient(top, #999, #b3b3b3);
  background-image: -moz-linear-gradient(top, #999, #b3b3b3);
  background-image: -ms-linear-gradient(top, #999, #b3b3b3);
  background-image: -o-linear-gradient(top, #999, #b3b3b3);
  background-image: linear-gradient(top, #999, #b3b3b3);
}
.button:active {
  -moz-box-shadow: 0 0 4px 2px rgba(0,0,0,0.3) inset;
  -webkit-box-shadow: 0 0 4px 2px rgba(0,0,0,0.3) inset;
  box-shadow: 0 0 4px 2px rgba(0,0,0,0.3) inset;
  position: relative;
  top: 1px;
}
.button:focus {
  outline: 0;
  background: #fafafa;
}
.button:before {
  background: rgba(0,0,0,0.1);
  float: left;
  width: 1em;
  text-align: center;
  font-size: 1.5em;
  margin: 0 1em 0 -1em;
  padding: 0 0.2em;
  -moz-box-shadow: 1px 0 0 rgba(0,0,0,0.5), 2px 0 0 rgba(255,255,255,0.5);
  -webkit-box-shadow: 1px 0 0 rgba(0,0,0,0.5), 2px 0 0 rgba(255,255,255,0.5);
  box-shadow: 1px 0 0 rgba(0,0,0,0.5), 2px 0 0 rgba(255,255,255,0.5);
  -moz-border-radius: 0.15em 0 0 0.15em;
  -webkit-border-radius: 0.15em 0 0 0.15em;
  border-radius: 0.15em 0 0 0.15em;
  pointer-events: none;
}
.pipe {
  display: block;
  margin: 3% auto 0%;
}
.add:before {
  content: "\271A";
}
.save:before {
  content: "\2714";
}
[data-icon]:before {
  font-family: icons;
  content: attr(data-icon);
  speak: none;
}
.button-twitter,
.button-instagram,
.button-facebook,
.button-dropbox,
.button-download,
.button-url {
  display: inline-block;
  width: 200px;
  height: 200px;
  padding: 2%;
}
.button-instagram {
  background: transparent url("/img/instagram-200x200.png") no-repeat scroll top left;
}
.button-facebook {
  background: transparent url("/img/facebook-200x200.png") no-repeat scroll top left;
}
.button-twitter {
  background: transparent url("/img/twitter-200x200.png") no-repeat scroll top left;
}
.button-dropbox {
  background: transparent url("/img/dropbox-200x200.png") no-repeat scroll top left;
}
.button-download {
  background: transparent url("/img/download-200x200.png") no-repeat scroll top left;
}
.button-url {
  background: transparent url("/img/url-200x200.png") no-repeat scroll top left;
}
.button-connect-instagram {
  display: inline-block;
  width: 186px;
  height: 38px;
  background: transparent url("/img/button-signin-instagram-186x36.png") no-repeat scroll top left;
}
.button-connect-facebook {
  display: inline-block;
  width: 234px;
  height: 37px;
  background: transparent url("/img/button-signin-facebook-234x37.png") no-repeat scroll top left;
}
.button-connect-twitter {
  display: inline-block;
  width: 234px;
  height: 37px;
  background: transparent url("/img/button-signin-twitter-234x37.png") no-repeat scroll top left;
}
.button-connect-dropbox {
  display: inline-block;
  width: 218px;
  height: 54px;
  background: transparent url("/img/button-signin-dropbox-218x54.png") no-repeat scroll top left;
}
@font-face {
  font-family: 'icons';
  src: url("/font/IcoMoon.eot?#") format('eot'), url("/font/IcoMoon.woff") format('woff'), url("/font/IcoMoon.ttf") format('truetype');
}
/*
@import 'version-one'
*/
*,
*:after,
*:before {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -ms-box-sizing: border-box;
  -o-box-sizing: border-box;
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}
html,
body {
  height: 100%;
  width: 100%;
  overflow: auto;
}
body {
  background-color: #f7f7fa;
  background-image: url("/img/snow.png") repeat scroll top left;
  background-image: -webkit-linear-gradient(top, rgba(255,255,255,0.1) 0, rgba(0,0,0,0.1) 100%), url("/img/snow.png");
  background-image: -moz-linear-gradient(top, rgba(255,255,255,0.1) 0, rgba(0,0,0,0.1) 100%), url("/img/snow.png");
  background-image: -o-linear-gradient(top, rgba(255,255,255,0.1) 0, rgba(0,0,0,0.1) 100%), url("/img/snow.png");
  background-image: -ms-linear-gradient(top, rgba(255,255,255,0.1) 0, rgba(0,0,0,0.1) 100%), url("/img/snow.png");
  background-image: linear-gradient(top, rgba(255,255,255,0.1) 0, rgba(0,0,0,0.1) 100%), url("/img/snow.png");
  -webkit-box-shadow: 0 2px 2px rgba(0,0,0,0.25);
  -moz-box-shadow: 0 2px 2px rgba(0,0,0,0.25);
  box-shadow: 0 2px 2px rgba(0,0,0,0.25);
  color: #333;
  font-weight: 300;
  letter-spacing: -0.5px;
}
p {
  font-size: 1.2em;
  margin: 0;
  padding: 0;
}
a,
a:visited {
  text-decoration: none;
  color: #f46a0c;
}
.no-touch a:hover,
.no-touch a:active,
.no-touch a:focus {
  color: #f57924;
}
fieldset {
  border: none;
}
.main {
  background: #fafafa;
  background: rgba(0,0,0,0.05);
  min-height: 100%;
  padding: 2% 1.5%;
}
.cool {
  color: #f46a0c;
}
nav {
  font-size: 1.2em;
  left: 0;
  top: 0;
  width: 100%;
  z-index: 999;
  background: transparent url("/img/photopipe-home-bg-3.jpeg") repeat-x scroll 0% 79%;
}
.tier-0 {
  webkit-box-shadow: 0 1px 2px rgba(0,0,0,0.5);
  -moz-box-shadow: 0 1px 2px rgba(0,0,0,0.5);
  box-shadow: 0 1px 2px rgba(0,0,0,0.5);
  position: relative;
  z-index: 9;
  width: 100%;
  display: table;
  margin: 0 auto;
  text-align: right;
}
.nav-section {
  background: transparent;
  height: 2.604166667em;
  text-align: center;
  -webkit-transition: background-color 200ms;
  -moz-transition: background-color 200ms;
  -o-transition: background-color 200ms;
  -ms-transition: background-color 200ms;
  transition: background-color 200ms;
  vertical-align: middle;
  display: inline-table;
  min-width: 4.166666667em;
}
span.branding {
  height: 2.604166667em;
  text-align: center;
  -webkit-transition: background-color 200ms;
  -moz-transition: background-color 200ms;
  -o-transition: background-color 200ms;
  -ms-transition: background-color 200ms;
  transition: background-color 200ms;
  vertical-align: middle;
  display: inline-table;
  min-width: 4.166666667em;
  float: left;
  line-height: 2.7125em;
  padding: 0 1em;
  font-size: 1em;
}
.primary,
.secondary {
  display: table;
}
.no-touch .nav-section:hover {
  background: rgba(255,255,255,0.39) url("") repeat scroll top left;
}
.nav-section a {
  line-height: 2.7125em;
  padding: 0 1.5625em;
}
.nav-section a > .nav-item {
  color: #fff;
  letter-spacing: -1px;
}
.no-touch .nav-section a > .nav-item:hover {
  color: #010000;
}
@media only screen and (min-width: 45em) and (max-width: 57.5em) {
  h1 {
    font-size: 2.8em;
  }
}
@media only screen and (min-width: 34.25em) and (max-width: 45em) {
  body {
    color: #333;
  }
}
@media only screen and (min-width: 20em) and (max-width: 34.24em) {
  .secondary {
    width: 100%;
  }
  span.branding {
    float: none;
    width: 100%;
    text-align: center;
  }
  .nav-section {
    width: 33.3333%;
    border-top: 1px solid rgba(0,0,0,0.2);
  }
  .primary.right {
    float: none;
    width: 100%;
  }
  .nav-section a {
    padding: 0;
  }
}
#photo-to-pipe {
  margin: 0;
  padding: 0;
  list-style-type: none;
  display: block;
  text-align: center;
}
#photo-to-pipe li {
  margin: 1% auto;
  display: inline-block;
  padding: 0 1%;
}
#photo-to-pipe li a {
  margin: 0 auto;
  padding: 0;
  text-align: center;
  display: block;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  border-radius: 10px;
}
.third-parties > h3 {
  padding-left: 1%;
}
/* Page specific */
body.out {
  background: transparent url("/img/photopipe-home-bg-1.jpeg") no-repeat scroll top left;
  height: 100%;
  font-family: 'Helvetica Neue', Helvetica, serif;
  font-weight: 300;
  color: #f5f5f5;
}
section {
  margin: 0 auto;
}
header {
  padding: 0 20%;
  margin-bottom: 1.25%;
}
#header-home h1 {
  color: #f46a0c;
  margin: 0;
  padding: 0;
  line-height: 1.25;
}
h1,
h2,
h3,
h4,
p {
  font-weight: 100;
}
h1,
h2,
h3,
h4 {
  text-align: center;
}
h4 {
  font-size: 2em;
  margin: 0;
  padding: 0;
}
h4 a,
h4 a:visited {
  color: #00bfff;
}
h4 a:hover,
h4 a:active,
h4 a:focus {
  color: #4dd2ff;
  border-bottom: none;
}
h1 {
  display: block;
  font-size: 4.8em;
  color: #00bfff;
}
h2 {
  font-size: 2.4em;
}
h3 {
  font-size: 2em;
}
#lead {
  background: transparent;
  width: 100%;
  margin: 0 auto;
  padding: 2.5% 0 0;
}
.login-header {
  margin: 0 0 4%;
  padding: 0;
}
.bottom-dotted {
  border-bottom: 1px dotted #ccc;
}
.section-form {
  overflow: auto;
  background: #000;
  background: rgba(0,0,0,0.8);
  max-width: 440px;
  padding: 0 1%;
}
.trans-black-bg {
  background: #000;
  background: rgba(0,0,0,0.8);
}
#whatis {
  margin: 2% auto;
  padding: 2% 1%;
}
#what-is-photopipe-copy p {
  margin: 2% auto;
  font-size: 1.6em;
  line-height: 1.6;
}
.login {
  display: block;
  width: 100%;
}
.underline {
  border-bottom: 1px solid #fefefe;
}
.left {
  float: left;
}
.right {
  float: right;
}
.border-box {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
.box-flex {
  -webkit-box-flex: 1;
  -moz-box-flex: 1;
  -ms-box-flex: 1;
  -webkit-box-flex: 1;
  -moz-box-flex: 1;
  -ms-box-flex: 1;
  -o-box-flex: 1;
  box-flex: 1;
}
.login {
  padding: 3%;
}
fieldset {
  margin: 5% auto 0;
  padding: 0;
}
label {
  display: block;
  padding: 0 0 2%;
  font-size: 1.4em;
  text-align: left;
}
.form-item-wrapper {
  margin: 7% 0%;
}
.form-item {
  width: 100%;
}
.input-item {
  width: 100%;
  padding: 2.5% 3%;
  background-color: rgba(255,255,255,0.87);
}
.input-item:focus {
  outline: 2px solid #f8a66e;
}
.error-copy {
  color: #f00;
  line-height: 1.8;
}
input[type='url'],
input[type='email'],
input[type='text'],
input[type='password'] {
  background: rgba(0,0,0,0.15);
  border-radius: 2px;
  box-shadow: 0 1px 0 rgba(255,255,255,0.2), inset 0 1px 1px rgba(0,0,0,0.1);
  -webkit-transition: all 0.3s ease-out;
  -moz-transition: all 0.3s ease-out;
  -ms-transition: all 0.3s ease-out;
  -o-transition: all 0.3s ease-out;
  transition: all 0.3s ease-out;
}
input[type='url'],
input[type='email'],
input[type='text'],
input[type='password'] {
  width: 100%;
  padding: 8px 4px 8px 10px;
  border: 1px solid #4e3043;
  border: 1px solid rgba(78,48,67,0.8);
  background: rgba(0,0,0,0.15);
  border-radius: 2px;
  box-shadow: 0 1px 0 rgba(255,255,255,0.2), inset 0 1px 1px rgba(0,0,0,0.1);
  -webkit-transition: all 0.3s ease-out;
  -moz-transition: all 0.3s ease-out;
  -ms-transition: all 0.3s ease-out;
  -o-transition: all 0.3s ease-out;
  transition: all 0.3s ease-out;
  font-family: 'Raleway', 'Lato', Arial, sans-serif;
  color: #fff;
  font-size: 1.1em;
}
input::-webkit-input-placeholder {
  color: rgba(37,21,26,0.5);
  text-shadow: 0 1px 0 rgba(255,255,255,0.15);
}
input:-moz-placeholder {
  color: rgba(37,21,26,0.5);
  text-shadow: 0 1px 0 rgba(255,255,255,0.15);
}
input:-ms-input-placeholder {
  color: rgba(37,21,26,0.5);
  text-shadow: 0 1px 0 rgba(255,255,255,0.15);
}
input[type='url']:hover,
input[type='email']:hover,
input[type='text']:hover,
input[type='password']:hover {
  border-color: #333;
}
input[type='url']:focus,
input[type='email']:focus,
input[type='text']:focus,
input[type='password']:focus,
input[type='submit']:focus {
  box-shadow: 0 1px 0 rgba(255,255,255,0.2), inset 0 1px 1px rgba(0,0,0,0.1), 0 0 0 3px rgba(255,255,255,0.15);
  outline: none;
}
#copy {
  margin: 5% auto;
}
#copy p {
  margin: 2.5% auto;
}
body.not-implemented #copy p {
  font-size: 2.2em;
}
.main > section {
  margin: 0% 1.5%;
  padding: 1%;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  border-radius: 10px;
  background: #000;
  background: rgba(0,0,0,0.1);
}
.box {
  display: -webkit-box;
  display: -moz-box;
  display: -o-box;
  display: box;
}
.box > section,
.box > div,
.box > li {
  -webkit-box-flex: 1;
  -moz-box-flex: 1;
  box-flex: 1;
}
.notification-container {
  margin: 7% auto 2.5%;
  max-width: 320px;
  background: #fafafa;
  background: rgba(255,255,255,0.2);
  padding: 1% 5%;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  border-radius: 10px;
}
.notification-container > p {
  line-height: 1.425;
  margin: 5% auto;
}
.third-parties {
  max-width: 74%;
}
.third-parties-container {
  margin: 1.5% auto 2.5%;
  max-width: 960px;
}
@media only screen and (min-width: 45em) and (max-width: 57.5em) {
  h1 {
    font-size: 2.8em;
  }
}
@media only screen and (min-width: 34.25em) and (max-width: 45em) {
  .third-parties {
    max-width: 100%;
  }
  #dashboard > section {
    margin: 2% 2%;
  }
  .box {
    -moz-box-orient: vertical;
    -webkit-box-orient: vertical;
    box-orient: vertical;
  }
}
@media only screen and (min-width: 20em) and (max-width: 34.24em) {
  .third-parties {
    max-width: 100%;
  }
  #dashboard > section {
    margin: 2.5% 2.5%;
  }
  .box {
    -moz-box-orient: vertical;
    -webkit-box-orient: vertical;
    box-orient: vertical;
  }
}
/* @import 'login-form'  */
.left-search-form {
  padding: 0;
  margin: 0;
  position: fixed;
  width: 32%;
}
.right-search-gallery {
  float: right;
  width: 48%;
  margin-top: 0.5%;
}
.big-text-field {
  width: 87%;
  margin-left: 3%;
}
#instagram-search-query {
  background: transparent url("/img/instagram-50x50.png") no-repeat top right scroll;
  height: 2em;
}
@media only screen and (min-width: 45em) and (max-width: 57.5em) {
  h1 {
    font-size: 2.8em;
  }
  h2 {
    font-size: 1.8em;
  }
  h3 {
    font-size: 1.6em;
  }
  .notification-container {
    margin: 7% 5% 2.5%;
    padding: 2% 6%;
  }
}
@media only screen and (min-width: 30em) and (max-width: 45em) {
  h1 {
    font-size: 2.8em;
  }
  h2 {
    font-size: 1.8em;
  }
  h3 {
    font-size: 1.6em;
  }
  .notification-container {
    margin: 3.5% auto 3.5%;
    padding: 2% 3%;
  }
}
@media only screen and (min-width: 20em) and (max-width: 29.9999em) {
  h1 {
    font-size: 2.8em;
  }
  h2 {
    font-size: 1.8em;
  }
  h3 {
    font-size: 1.6em;
    padding: 4% 2%;
  }
  .notification-container {
    margin: 2.5%;
    padding: 2.5% 6%;
    max-width: 95%;
  }
  #login {
    margin-top: 2%;
  }
  .left-search-form {
    position: static;
    width: 100%;
  }
  .right-search-gallery {
    width: 100%;
    margin-top: 2%;
  }
  .hit-target {
    padding: 1.1em 0;
  }
  #photo-to-pipe li,
  #photo-to-pipe li:first-child,
  #photo-to-pipe li:last-child {
    margin: 0 0 5%;
  }
  .close-one-up {
    top: -3.5%;
    right: -3.5%;
  }
  .one-up {
    left: 0;
    margin: 0 5%;
  }
  .steps {
    font-size: 5.4em;
  }
  .oauth-page {
    margin-top: 9%;
  }
  .button {
    font: bold 1.2em/2.4em Helvetica, Arial;
  }
}
