.main > section
  margin 0% 1.5%
  padding 1%
  borderRadius(10px)
  background #000
  background rgba(0,0,0,0.1)

.box
  display -webkit-box
  display -moz-box
  display -o-box
  display box

.box > section, 
.box > div,
.box > li
  -webkit-box-flex 1
  -moz-box-flex 1
  box-flex 1

.notification-container
  margin 7% auto 2.5%
  max-width 320px
  background #fafafa
  background rgba(255,255,255,0.2)
  padding: 1% 5%
  borderRadius(10px)

.notification-container > p
  line-height 1.425
  margin 5% auto

.third-parties
  max-width 74%

.third-parties-container
  margin 1.5% auto 2.5%
  max-width 960px
  
/* 1em = 16px from body */
@media only screen and (min-width: 45em) and (max-width: 57.5em)

  h1
    font-size 2.8em

@media only screen and (min-width: 34.25em) and (max-width: 45em)

  .third-parties
    max-width 100%
  
  #dashboard > section
    margin 2% 2%

  .box
    -moz-box-orient: vertical
    -webkit-box-orient: vertical  
    box-orient: vertical  

@media only screen and (min-width: 20em) and (max-width: 34.24em)

  .third-parties
    max-width 100%

  #dashboard > section
    margin 2.5% 2.5%

  .box
    -moz-box-orient: vertical
    -webkit-box-orient: vertical  
    box-orient: vertical  
